{% load staticfiles %}
<html>
    <head>
        <title>The Stratton</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
       
            
            <section id="banner">
					<h2><a href="/">The Stratton</a></h2>
                    					<ul class="actions">
						<li><a href="log_in.html" class="button">Sign In</a></li>
					</ul>
				</section>
        
        
        <section id="main" class="container">
				<section class="box special">
					<header class="major">	
	
                	{% block content %}
                    {% endblock %}
						
						</header>
						
						
						
						
</section>


        
       
    </body>
</html>

