{% load staticfiles %}
<html>
    <head>
        <title>STRATTON</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
       <!-- <link rel="shortcut icon" href="images/1.png">-->
    </head>
    <body>
       
            
            <section id="banner">
					<!--<h2><a href="/">STRATTON</a></h2>-->
					<a href="/"><img src="https://dl.dropboxusercontent.com/u/24778459/Stratton/The_Stratton.png" alt="some_text" height="125"></a>
                    <!--
                    <ul class="actions">
						<li><a href="/log_in.html" class="button">Sign In</a></li>
					</ul>
					-->
				</section>
        
        
        	
	
                	{% block content %}
                    {% endblock %}
                    
						
						

        
       
    </body>
</html>




