{% extends 'blog/base.html' %}

{% block content %}
<section id="main" class="container">
	<section class="box special">
		<header class="major">
    <div class="post">
        <h1>{{ post.title }}</h1>
        {% if post.picture_URL %}
        <br/>
        <img src="{{ post.picture_URL }}" />
        {% endif %}
        <br>
        <p>{{ post.text|linebreaks }}</p>
        <br>
        <br>
        {% if post.published_date %}
        <div class="date" align="left">
        	{{ post.published_date }}
        </div>
    	{% endif %}
    	<br>
    	<div align="right">
       	{% if user.is_authenticated %}
    		<a class="button" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
        {% endif %}
        </div>
      
      </div>
      </header>
</section>

{% endblock %}




