{% extends 'blog/base.html' %}
{% block title %}
{% endblock %}
{% block content %}
<section id="main" class="container">
	<section class="box special">
		<header class="major">
{% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <br>
            {% if post.picture_URL %}
            <img src="{{ post.picture_URL }}" />
            {% endif %}
            <br>
            <div align="justify" class="12u">
            {{ post.text|linebreaks }}
            </div>
            <br>
            <br>
            <!--<h3>By <a href="{% url 'user_post_list' pk=post.author.pk %}">{{ post.author }}</a></h3>-->
            <div class="date">
            	{{ post.published_date }}
            	{{ post.date }}
            </div>
        </div>
{% endfor %}

</header>
</section>
<section class="box special">
<header class="major">
					


<img src="https://dl.dropboxusercontent.com/u/24778459/Stratton/Weather%20Updates/Weather%20Updates-01.png" alt="some_text" width="70%">

<!--<iframe src="http://google.com" onload="this.style.height = (this.contentWindow.document.body.scrollHeight) + 'px';" scroll="auto"></iframe>-->

</header>


						
</section>



		
		<div class="row">
						<div class="6u 12u(narrower)">
							<section class="box special">
								<img src="https://upload.wikimedia.org/wikipedia/commons/7/77/The_New_York_Times_logo.png" alt="some_text" height="50">
								<br>
								<br>
								
								<ul class="actions">
									<li><a href="http://nytimes.com" class="button alt">Go</a></li>
								</ul>
							</section>
						</div>
						<div class="6u 12u(narrower)">
							<section class="box special">
								<img src="https://upload.wikimedia.org/wikipedia/commons/7/77/The_New_York_Times_logo.png" alt="some_text" height="50">
								<br>
								<br>
								
								<ul class="actions">
									<li><a href="about.html" class="button alt">Go</a></li>
								</ul>
							</section>
						</div>
					</div>
				</section>
				<footer id="footer">
					<ul class="copyright">
						<li>The Stratton</li>
						
						{% if user.is_authenticated %}
    						<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
						{% endif %}
					</ul>
				</footer>
        


{% endblock %}